@import 'bootstrap/dist/css/bootstrap.css';
@import './header.style.scss';
@import './recipes.style.scss';
@import './connexion.styles.scss';
@import './footer.style.scss';

.darkMode {
    background: #1d1b1b;
    color: whitesmoke;
}
.lightMode {
    background: white;
    color: #000;
}