//@import 'bootstrap/dist/css/bootstrap.css';
//@import './header.style.scss';
@import './recipes.style.scss';
@import './connexion.styles.scss';
@import './footer.style.scss';
@import './error.style.scss';
@import './cocktail.style.scss';
@import './index.style.scss';
@import './headerHamburger.style.scss';

:root {
    --color-bleu-gray:#2c3e50;
    --color-gray:#7f8c8d;
    --color-amour:#ee5253;
    --color-imperial:#222f3e;
    --color-tomate:#eb2f06;
    --color-lightBleuBallerina: #c8d6e5;
    --color-darkSapphire: #0c2461;
}

* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    
}

.darkMode {
    background-color: var(--color-imperial) !important;
    color: var(--color-amour)!important;
}

#root {
    background-color: white;
}

.lightMode {
    background-color: var( --color-gray)!important;
    color: var(--color-bleu-gray) !important;
}


h1, h2 {
    text-align: center;
}

.card__box {
    box-shadow: 12px 8px 5px whitesmoke;
}

#main {
    padding-top: 100px;
}
