.cocktails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    padding-bottom: 1rem;
    &__card {
        margin: 1rem;
    }
     /*&__btn {
        
    }*/
}
.cocktail {
    display: flex;
    flex-direction: column;
    margin: 4.5rem;
    background-color: var(--color-lightBleuBallerina);
    padding: 1%;
    border-radius: 30px;
    &__header {
        display: flex;
        flex-direction: row;
    }
    &__body {
        border-block: gray 10px solid;
        
        display: flex;
        flex-direction: row;
        &_ingredients {
            flex: 1;
        }
        &_methods {
            flex:1;
        }
    }

}