.footer {
    bottom: 0;
    width: 100%;
    background-color: #e55039;

    &__Box {
        display: flex;
    }
    &__Social {
        flex: 1;
    }
    &__Recipe {
        flex: 1;
    }
    &__Thematique {
        flex: 1;
    }
    &__Copy {
        text-align: center;
        font-size: 1.2rem ;
    }
}