.novelList {
    display: grid;
    align-items: center;
    list-style: none;
    grid-template-columns: repeat(4, 200px);
    justify-content: space-evenly;
    justify-items: center;
    align-content: stretch;
    
    &_item {
        padding: 10px;
        align-items: center;
    }
}

.content {
    &_paragraphs {
        margin: 1% 2%;
        font-size: 115%;
    }
}

.NavChapter {
    display: grid;
    height: 100px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px;
    
  }
  
  