.novelList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    
    &_item {
        padding: 0.5rem;
        margin: 1rem;
        align-items: center;
        border: solid 5px;
        border-radius: 5px;
    }
}

.content {
    &_paragraphs {
        margin: 1% 2%;
        font-size: 115%;
    }
}

.NavChapter {
    display: grid;
    height: 100px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px;
    
  }
  
  