.recipes {
    display: flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;

    &__list {
    margin: 5px;
    }

}

.recipe {
    margin: 4.5rem;
}